@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto:500');
@import '_mixins.scss';
@import '_vars.scss';

.main {
    background-image: url(../img/homepage-3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    z-index: 3;
    padding-bottom: 10rem;
    position: relative;
}

/******Header******/

header {
    .header__wrapper{
        color: white;
        border-bottom: 1px solid gray;
        display: grid;
        max-width: 100%;
        margin: 0 auto;  
    }
    .header__menu{
        display: flex;
    }
}

.header__top--contact {
    grid-column: 1/6;
    max-width: max-content;
    &>ul {
    padding: 1rem 1rem 1rem;
    max-width: max-content;
     
    &>li {
        font-family: $content-font;
        font-size: 0.8rem;
        padding-right: 1.5rem;
        position: relative;
        display: inline-block;
        color: white;
        }
    }
}

.header__top--social {
    grid-column: 6/12;
    &>ul {
    padding: 1rem 1rem 1rem;
    max-width: max-content;
    &>li{
        font-family: $content-font;
        font-size: 0.8rem;
        padding-right: 1.5rem;
        list-style: none;
        display: inline-block;
        }
    }
}

.brand > img{
        padding: 1rem;   
} 

.header__menu--content {
    ul{
        li {
            padding-right: 1rem;
            font-family: $title-font;
            text-transform: uppercase;
            list-style: none;
            a{
                color: white;
                &::after{
                    content: '//' !important;
                    border: none !important;
                    margin-top: -8px !important;
                }
            }       
        }
    }
}

.header__menu--content > ul >li >a:hover{
    color: firebrick !important;
}
a.is-active {
    color:red !important;
}
a:visited a:hover a:active {
    color: red;
}

.dropdown.menu .is-active > a{
    color: red;
}

a.a__content::after{
    display: none;
}

.top-bar {
    background-color: transparent;
    ul {
        background-color: transparent;
    }
}
.title-bar {
    background: red;
}
.dropdown-menu > li.is-dropdown-submenu-parent > a::after {
    display: none;
}

///////Ison shop search

ul.icon__shop {
    display: flex;
    list-style: none;
    li {
        padding-left: 1rem;
        padding-top: 1rem;
    }
}

li.border__li{
    border-left: 1px solid gray;
    height: 3rem;
    padding-left: 1rem;
}
.fa {
    color: white;
}
ul.submenu {
    background-color: black;
    border: none;
    li {
        border-bottom: 1px solid gray;
    } 
    &a{
        color: gray !important;
    }
}
/*******Content******/

.banner {
    padding-top: 10rem;
    padding-bottom: 10rem;
    .big__title {
       text-align: center;
    }
    .subtitle{
        text-align: center;
        p {
            color: white;
            font-family: $content-font;
            text-align: center;
        }
    }
}

.buttons {
    text-align: center;
    .button__reserve{
        background: red;
        border: 1px solid red;
        padding: 1rem;
        color: white;
        cursor: pointer;
    }
    .button__purchase{
        padding: 1rem;
        color: white;
        border: solid 1px white;
        box-sizing: border-box;
        cursor: pointer;
        &:hover {
            background: red;
            border: 1px solid red;
            -webkit-transition: background-color 1s ease-out;
            -moz-transition: background-color 1s ease-out;
            -o-transition: background-color 1s ease-out;
            transition: background-color 1s ease-out;
        }
    }
}
/*******About*******/

.about{
    background: white;
    position: relative;
    z-index: 0;
  }

.title__wrapper{
    text-align: center;
    position: relative;
    z-index: 1;
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.about__img{
    background-image: url(../img/banner-1.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: scroll;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.section__about--bg {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.5;
}

.section__about--title{
    position: relative;
    z-index: 1;
    padding-bottom: 2rem;
    &:after {
        content:'';
        background-color: rgba(255, 255, 255, 0.4);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
    }
    h2 {
        padding-top: 1rem;
        font-size: 3rem;
        z-index: 3;
    }
}

.section__text--content{
    padding: 2rem;
    .text__content {
        display: block;
        position: absolute;
        grid-column: 6/12;
        width: auto;
        padding: 3rem;
    }
}

.signature > p{
    text-align: right;
}

.header__top {
    border-bottom: 1px solid #fff;
}

.centered__content {
    max-width: 1200px;
    margin: 0 auto;
    padding: {
        left: 15px;
        right: 15px;
    }
}

/***Special Menu Boxes***/

.special__menu--box {
    background: white;
    padding: 1rem;
    .menu__box--border{
        text-align: center;
        border-color:#80808069;
        border-style: solid solid solid solid;
        border-radius: 0px;
        margin-bottom: 0px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 15px;
        padding-right: 15px;
        min-height: 0px;
    }
}
.front__img{
    position: relative;
    z-index: 1;
}
.back__img{
    position: absolute;
    z-index: 2;
    top: 85rem;
    right: 0;
    bottom: 0;
    left: 3rem;
    display: none;
}
.special__menu--content{
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.box__price {
    a{
        color:black;
        &:hover{
            color:red;
        }
    }
}

li.tabs-title {
        border-right: 1px dotted grey;
}

.grid-margin-x > .small-12 {
    margin-top: 2rem;
}
    /***Stars***/

.empty__star{
    display: inline-block;
    position: relative;
    &:before{
        color: goldenrod;
        font-size: 1rem;
        font-family: 'Font Awesome 5 Solid';
        content: "\f005\f005\f005\f005\f005";
        position: relative;
        display: block;
        letter-spacing: 4px;
    }
}

.full__star{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    &:before{
        color: goldenrod;
        font-size: 1rem;
        font-family: 'Font Awesome 5 Solid';
        content: "\f005\f005\f005\f005\f005";
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        letter-spacing: 4px;
    }
}
    
    /***Price***/

.box__star{
    line-height: 4;
}

.box__price{
    display: flex;
    .per__kg{
        padding-top: 3rem;
    }
}

.box__button{
    a.button{
        background: white;
        border-style: solid;
        border-color: black;
        color:black;
        cursor: pointer;
        box-sizing: border-box;
        text-transform: uppercase;
        font-family: $content-font;
        width:10rem;
        &:hover {
            color: white;
            background-color: black;
            -webkit-transition: background-color 1s ease-out;
            -moz-transition: background-color 1s ease-out;
            -o-transition: background-color 1s ease-out;
            transition: background-color 1s ease-out;
        }
    }   
}

/*******Menu Of The Day******/

.menu__day{
    position: relative;
    z-index: 0;
}
.special__menu{
    padding-bottom: 4rem;
    padding-top: 4rem;
}
.menu__day--content {
    background: white;
    padding: 2rem;
}
.menu__day--tabs{
    padding-top: 4rem;
    li{
        a{
            color: red !important;
            text-transform: uppercase;
            font-size: 1rem;
            font-weight: 700;
            a:before{
                content:'';
                position: absolute;
                width: 1px;
                height: 100%;
            }
            i{
                padding-right: 1rem;
                font-size: 1.5rem;
                color: black;
            }
        }
    }
}
.menu__day--img {
    background-image: url(../img/banner-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
}
ul.tabs{
    border: none !important;
}
.tabs-content{
    border: none !important;
}
.tabs__p--style{
    text-align: left;
    padding: 1rem;
    border-bottom: 1px dashed #e6e6e6;
}

/*******Red Banner*******/

.red__banner {
    background-color: rgba(255, 0, 0, 0.9);
    padding-top: 5rem;
    padding-bottom: 5rem;
    h2{
        color: white;
        text-transform: uppercase;
        font-size: 2.5rem;
    }
    p{
        color: white;
        text-align: center;
    }
}
.red__banner--subtitle{
    padding-top: 2rem;
}

.red__button{
    text-align: center;
    padding-top: 2rem;
    >.button{
        background-color:black;
        color: white;
        text-transform: uppercase;
        width: 12rem;
        font-weight: 700;
        &:hover{
            background-color: white;
            color:black;
        }
    }
}

/*******News of the day*******/

.news__date{
    display: block;
    max-width: max-content;
    border-top:  rgb(159, 167, 166) 1px solid;
    span{
        color:#50545c;
    }
}
.news__day{
    background-color: white;
    position: relative;
    z-index: 0;
}

.news__content--title{
    a{
    text-transform: uppercase;
    color: #0a0a0a;
    font-size: 1.5rem;
    }
}

.news__img{
    background-image: url(../img/news-6-580x500.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-size: cover;
    background-attachment: scroll;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.news__content{
    padding-left: 2rem;
    p{
        padding-right: 3rem;
    }
    a.button{
        background: transparent;
        color: grey;
        font-family: $content-font;
        i {
            color:grey;
            padding-left: 1rem;
            &:hover{
                color:red;
            }
        }
        &:hover{
            color: red;
        }
    }
}

.news__content--tags{
    padding-left: 1rem;
    span{
        text-transform: uppercase;
        color: grey;
        padding-bottom: 1rem;
    }
    a{
        border: 1px solid grey;
        padding: .2rem;
        color: grey;
        margin-right: .5rem;
        &:hover{
            color:red;
            border: 1px solid red;
        }
    }
}

.news__menu{
    li{
        list-style: none;
        a{
            border-bottom: 1px solid grey;
            color: grey;
            width: 1rem;
            &:hover{
                color: black;
            }
        }
    }
    
}

/*******Book Your Table******/

.book__table{
    position: relative;
    z-index: 0;
    .section__about--title{
        position: relative;
        z-index: 1;
        &:after{
            background-color: transparent;
        }
        h2{
            color:white;
            padding-top: 1rem;
            font-size: 3rem;
            z-index: 3;
        }
        
    }
}
.section__about--bg{
    z-index: 2;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.5;
}
.book__section{
    background:rgba(0, 0, 0, 0.9);
    padding-top: 2rem;
}

.book__form{
    padding-top: 5rem;
}

.form__controll{
    padding-left: 1rem;
    padding-right: 1rem;
    span{
        position: relative;
        z-index: 1;
        i{
            position: absolute;
            color:  rgb(192, 189, 189);
            top: 10px;
            right: 0;
            bottom: 0;
            z-index: 2;
            padding-right: 1rem;
        }
    }
}

.black__button{
    text-align: center;
    padding-top: 2rem;
    >.button{
        background-color:red;
        color: black;
        text-transform: uppercase;
        width: 12rem;
        font-weight: 700;
        &:hover{
            background-color: transparent;
            border: 1px solid white;
            color:white;
        }
    }
}

/*******Upcoming event*******/

.upcomig__event{
    background: white;
    position: relative;
    z-index: 0;
    padding-top: 5rem;
    .opening__hour{
        padding-top: 3rem;
        padding-bottom: 3rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        background-image: url(../img/coming-soon-1.jpg);
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
    }
    .opening__hour--content{
        background-color: transparent;
        border-color:white;
        border-width: 1px;
        border-style: solid solid solid solid;
        border-radius: 1rem;
        padding:2rem;
   
        ul{
            color: white;
            text-align: justify
        }
        li{
         list-style: none;
        }  
    }
}

.opening__hour--title{
    h3{
    text-align: center;
    color: white;
    }
}

.list__header{
    display: block;
    font-weight: 700;
    font-size: 11px;
    line-height: 1;
    position: relative;
    &:before{
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
        margin: auto;
        content: '';
        border-bottom: 1px dashed rgba(255, 255, 255, 0.7);
        width: 45%;
        }

   
    span{
        color: #ffffff;
        font-size: 16px;
        font-weight: 500;
        font-family: Roboto;
        line-height: 27px;
    }
}

.list__days{
    display: block;
    float: left;
}

.list__hours{
    display: block;
    float: right;
}

.upcomig__event--content{
    .title__wrapper {
        padding-top: 0;
        .section__about--title{
            background-image: url(img/shrimp.png);
            background-repeat: no-repeat;     
        }
    } 
}

.counter__wrapper{
    margin: 0 auto;
    ul{
        display: inline-flex;
        li{
            list-style: none;
            padding: 2rem;
            display: block;
            position: relative;
        }
    }
}

li > div.number{
    font-size: 4rem;
    color: grey;
    font-weight: 700;
    border: 1px solid grey;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    display: block;
}

.hours{
    font-size: 2rem;
    text-transform: uppercase;
    color: black;
}

.text__date{
    position: relative;
    top: -15px;
    background: white;
    display: inline-block;
}

.upcomig__event{
    a{
        background: red;
        color: white;
        width: 12rem;
        text-transform: uppercase;
        &:hover{
            background: black;
        }
    }
}

/******Border Bottom*******/

.border__bottom{
    background: red;
    padding: 2rem;
    a{
        color: white;
        cursor: pointer;
        background: transparent;
    }
}

.bottom__line{
    border-bottom: 1px solid white;
    p{
        color:grey;
    }
}

.border__title{

    h3{
        color: white;
        line-height: 1;
    }
}

.border__subtitle{
    p{
    color: white;
    }
}

/*******Footer*******/

.footer{
    z-index: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60vh;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    .footer__wrapper{
        width: 100%;
    }
}

.footer__col{
    p{
     color: white;
    }
    ul{
        li{
            color: white;
            list-style: none;
            &>.fa{
                padding-right: 1rem;
            }
        }
    }
}


#footer1{
    background-image: url(../img/footer-2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: cover;
}

.footer__col--title{
    h4{
        color:white;
        font-size: 1rem;
        border-bottom: 1px solid red;
    }
}

.copyright{
    color: white;
    padding-top: 1rem;
    padding-left: 2rem;
}

.scrollup {
    .fa{
        content: "\f106";
        font-size: 3rem;
        background: red;
        padding: 1rem;
    }
}

